{% load static %}

<link rel="stylesheet" href="{% static 'css/user_login.css' %}">

{% block body %}

{% include 'user_navigation.html' %}

<h1 class="text-center" style="color:#071739; font-weight:bold; margin-top:30px; margin-bottom:25px;">
    <i class="fa fa-users" style="color:#2563EB;"></i> User Password change
</h1>

<script>
    function checkpass() {

        if(document.changepassword.newpassword.value != document.changepassword.confirmpassword.value) {

            alert("New password and Confirm Password are different");

            document.changepassword.confirmpassword.focus();

            return false;
        }

        return true;
    }
</script>


<div class="container login-container">

    <div class="login-card">

        <div class="login-icon"><i class="fa fa-user-circle"></i>
        </div>

        <div class="admin-heading">
            <h2>Change password</h2>

        </div>

        <form method="POST" name="changepassword" onsubmit="return checkpass()">
    {% csrf_token %}

    <label class="form-label">Current password</label>
    <input type="password" class="form-control" name="currentpassword" required>

    <label class="form-label mt-3">New password</label>
    <input type="password" class="form-control" name="newpassword" required>

    <label class="form-label mt-3">Confirm New Password</label>
    <input type="password" class="form-control" name="confirmpassword" required>

    <button type="submit" class="btn btn-primary w-100 mt-4">
        Change Password
    </button>
</form>
        {% if error == "no" %}
<script>
    alert("Password Changed Successful");
    window.location=("{% url 'Logout' %}");
</script>
{% endif %}

{% if error == "yes" %}
<script>
    alert("Password Change Failed");
</script>
{% endif %}


{% if error == "not" %}
<script>
    alert("password is wrong ");
</script>
{% endif %}
        {% if error == "same" %}
<script>
    alert("Current Password and New Password cannot be same");
</script>
{% endif %}


    </div>

</div>



{% endblock %}