{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<div class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h3 class="footer-title">Contact Us</h3>
                <div class="footer-contact">
                    <p><i class="fa fa-map-marker"></i>Shoranur, Palakkad</p>
                    <p><i class="fa fa-envelope"></i>Sooraj@gmail.com</p>
                    <p><i class="fa fa-phone"></i>+91 9188690169</p>
                    <p><i class="fa fa-globe"></i>www.soorajtechnologies.com</p>
                </div>
            </div>


<div class="col-md-4 mb-4">
    <h3 class="footer-title">Help & Support</h3>
    <p class="footer-text">
        Facing issues while applying for jobs or recruiter access?
        Send your complaint or query and our support team will contact you soon.
    </p>
 
</div>

            <div class="col-md-4 mb-4">
                <h3 class="footer-title">Why Choose Us</h3>
                <p class="footer-text">
                    Our job portal connects talented professionals with
                    top companies. We provide trusted job listings,
                    easy applications, recruiter support, and career
                    opportunities for freshers and experienced candidates.
                </p>
            </div>
        </div>



        <div class="footer-bottom">

            © 2026 Job Portal | Designed by Sooraj

        </div>

    </div>

</div>