{% load static %}

<link rel="stylesheet" href="{% static 'css/user_login.css' %}">

{% block body %}

{% include 'admin_navigation.html' %}

<h1 class="text-center" style="color:#071739; font-weight:bold; margin-top:30px; margin-bottom:25px;">
    <i class="fa fa-users" style="color:#2563EB;"></i> Recruiters Details
</h1>

<div class="container">

<table class="table table-hover table-bordered" id="example"
       style="background:white;
              border-radius:15px;
              overflow:hidden;
              box-shadow:0 6px 20px rgba(0,0,0,0.1);">

    <thead>

    <tr style="background:#2563EB; color:white; font-size:16px;">

        <th>S.no</th>
        <th>Fullname</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Gender</th>
        <th>Company</th>
        <th>Image</th>
        <th>Status</th>
        <th>Action</th>

    </tr>

    </thead>

    <tbody>

    {% for i in data %}

    <tr style="background:#F8FAFC;">

        <td>{{forloop.counter}}</td>

        <td>
            <strong>
                {{i.user.first_name}} {{i.user.last_name}}
            </strong>
        </td>

        <td>{{i.user.email}}</td>

        <td>{{i.phone}}</td>

        <td>
            <span style="background:#DBEAFE;
                         color:#2563EB;
                         padding:6px 14px;
                         border-radius:20px;
                         font-weight:600;">

                {{i.gender}}

            </span>
        </td>
        <td>{{i.company}}</td>

        <td>

            <img src="{{i.image.url}}"
                 style="width:90px;
                        height:90px;
                        border-radius:50%;
                        border:3px solid #2563EB;
                        object-fit:cover;">

        </td>
        <td>{{i.status}}</td>

        <td>




            <a href="{% url 'delete_recruiter' i.user.id %}"
               class="btn btn-danger btn-sm"
               style="border-radius:8px; padding:8px 16px;" onclick="return confirm('Are you sure you want to delete this user?')">
                <i class="fa fa-trash"></i> Delete Recruiter</a>

        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>
</div>
{% include 'footer.html' %}


<script>
$(document).ready(function () {

    new DataTable('#example', {
        layout: {
            topStart: {
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ]
            }
        }
    });

});
</script>



{% endblock %}