
    body{
        background-color:#f4f7fc;
    }

    .hero-section img{
        width:100%;
        height:650px;
        object-fit:cover;
        border-radius:15px;
        box-shadow:0 6px 20px rgba(0,0,0,0.2);
    }


    .placed-section{
        background:white;
        margin-top:50px;
        padding:50px 30px;
        border-radius:20px;
        box-shadow:0 4px 15px rgba(0,0,0,0.1);
    }

    .section-title{
        text-align:center;
        font-size:38px;
        font-weight:bold;
        color:#0d1b2a;
        margin-bottom:40px;
        letter-spacing:1px;
    }

    .company-card{
        position:relative;
        overflow:hidden;
        border-radius:20px;
        margin-bottom:30px;
        transition:0.4s;
        background:white;
        box-shadow:0 4px 12px rgba(0,0,0,0.12);
    }

    .company-card:hover{
        transform:translateY(-8px);
        box-shadow:0 8px 25px rgba(0,0,0,0.2);
    }


    .content{
        position:absolute;
        bottom:0;
        width:100%;
        background:linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.1));
        color:white;
        text-align:center;
        padding:15px 10px;
    }

    .content p{
        margin:0;
        font-size:20px;
        font-weight:600;
        letter-spacing:1px;
    }

    @media(max-width:768px){

        .hero-section img{
            height:350px;
        }

        .section-title{
            font-size:28px;
        }

        .company-card > img{
    width:100%;
    height:260px;
    object-fit:cover;
    border-radius:20px;
}
    }
   .recruiter-section{
    margin-top:70px;
}

.recruiter-box{
    background:#fff;
    border-radius:20px;
    padding:25px;
    text-align:center;
    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    height:220px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    overflow:hidden;
}

.recruiter-logo{
    width:auto !important;
    height:auto !important;

    max-width:140px !important;
    max-height:80px !important;

    object-fit:contain;

    display:block;
    margin:auto;
}
.recruiter-box img{
    width:150px !important;
    height:100px !important;
    object-fit:contain !important;

    max-width:180px !important;
    max-height:120px !important;

    display:block;
    margin:auto;
}
.row{
    display:flex;
    flex-wrap:wrap;
}

.company-card{
    width:100%;
    min-height:360px;
}

.company-card img{
    width:100%;
    height:240px;
    object-fit:cover;
    border-radius:20px;
}